$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

.tabbed-alerts-container {
  display: flex;
  gap : 0.2em 1em;


  .tabs {

    button {
      background-color: #353d47;
      padding: 0.2em 1em;
      border: none;
      color : white;
    }
  }

  .alert-container {

    .alert {
      background-color: #353d47;
      padding: 0.2em 1em;
      color : darkkhaki;

      button {
        background-color: #353d47;
        padding: 0.2em 1em;
        border: none;
        color : red;
      }
    }
  }

  .button-container {
    background-color: #353d47;
    padding: 0.2em 1em;
    border: none;

    button {
      /* Styles pour les boutons des onglets */
      background-color: #353d47;
      padding: 0.2em 1em;
      border: none;
      color : white;
    }
  }

  .indicator {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
  }

}
