.preview{
    border: 1px;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.card{
    margin: 10px;
    margin-top: 2em;

}

.bouton{
    margin : 5px;
}

.infos-generales {
    background-color:#f4faff;
    padding : 0.5em;
    margin-top: 2em;
}

.infos-poids {
    /* background-color: #CBD1E5; */
    background-color:#f4faff;
    padding : 0.5em;
}

.infos-etablissement {
    background-color: #f4faff;
    padding : 0.5em;
}