.ajouter-bouton {
  align-self: end;
  margin: 1em;
}

.form {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descrpition {
 margin: 0.5em;
 height: 20%;
}

.date-Input {
  width: 60%;
  margin :0.5em;
}
