/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 350px;
  background: url('../../../content/images/medecin.jpg') no-repeat center top;
  background-size: contain;
}

.custom-link{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 25px;
  font-size: large;
  color:black;
}

.rappels{
  background-color: #4089c1;

 
  cursor: pointer;
}

.rappels:hover{
  background-color: #4089c1;}