/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 350px;
  background: url('../../../content/images/medecin.jpg') no-repeat center top;
  background-size: contain;
  flex: 2;
}

.custom-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: large;
  color: black;
  flex: 1;
}

.rappels {
  background-color: #4dd396;

  cursor: pointer;
}

.rappels:hover {
  background-color: #4089c1;
}

.titleH {
  justify-content: center;
  flex: 0.5;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rappels-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.rappels-list {
  height: 80vh;
}

.col3 {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.identification {
  align-items: start;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 3em;
  align-items: center;
  
  padding: 1em;
  border-radius: 10px;
}

.switch-bouton {
  margin-bottom: '1em';
  width: 50%;
}
