.medecin-home {
  display: flex;
}

.title {
  text-align: start;
  font-size: xx-large;
  margin: 20px;
  margin-left: 40px;
  letter-spacing: 3px;
  /* text-decoration: underline overline solid #4089c1; */
}
